<!DOCTYPE html>
<html lang="en">

{% set title = "| Articles" %}
{%include "header"%}


<body>

    <header>
        <h1 style="font-family: 'Russo One', sans-serif;">MoKa Reads Articles</h1>
        <button class="w3-button  w3-xlarge nav mobile-show" onclick="w3_open()">☰</button>

    </header>

    {% include "nav" %}

    <div class="search-container w3-mobile">
        <input type="text" id="searchInput" placeholder="Search articles or tags...">
    </div>


    <div class="article-container w3-mobile">
        {% for article in articles%}

        <div class="article w3-mobile">
            <i class="icon-container {{article.metadata.icon}}"></i>

            <div class="title"><a class="link" href="/articles/{{article.slug}}">{{ article.metadata.title }} by
                    {{article.metadata.author}}</a></div>
            <div class="description">Description: {{article.metadata.description}}</div>
            <div class="publish-date">Published on {{article.metadata.date}}</div>
            <div class="tags">Tags: {{article.metadata.tags}}</div>
        </div>
        {%endfor%}
    </div>
    <script>
        const searchInput = document.getElementById('searchInput');
        const articles = document.querySelectorAll('.article');

        searchInput.addEventListener('input', function () {
            const searchText = this.value.toLowerCase();

            articles.forEach(article => {
                const title = article.querySelector('.title a').innerText.toLowerCase();
                const tags = article.querySelector('.tags').innerText.toLowerCase();

                if (title.includes(searchText) || tags.includes(searchText)) {
                    article.style.display = 'block';
                } else {
                    article.style.display = 'none';
                }
            });
        });

    </script>

    {%
    include "footer"
    %}

</body>

</html>