<!DOCTYPE html>
<html lang="en">

{% set title = "| Awesome Lists" %}
{%include "header"%}


<body>

    <header>
        <h1 style="font-family: 'Russo One', sans-serif;">Awesome Lists</h1>
    </header>

    {% include "nav" %}

    <div class="pagination-container w3-mobile">
        <div class="pagination-box">
            <ul class="pagination w3-mobile">
    {% for page in pages %}
        <li>
            <a href="/awesome/{{page.number}}" {% if page.is_current %}class="active"{% endif %}>
                {{ page.number }}
            </a>
        </li>
    {% endfor %}
            </ul>
        </div>
    </div>


    <div class="awesome-container w3-mobile">
        {% for a in awesome_lists%}

        <div class="awesome w3-mobile">
            <div class="title w3-mobile"><a class="link" href="{{a.url}}">{{a.name}}</a></div>
            <div class="description w3-mobile">{{a.description}}</div>
        </div>
        {%endfor%}
    </div>
    {%
    include "footer"
    %}

</body>

</html>