<!DOCTYPE html>
<html lang="en">

{% set title = "| " ~ cheatsheet.metadata.title %}
{%include "header"%}


<body>

    <header>
        <h1 style="font-family: 'Russo One', sans-serif;">MoKa Reads Cheatsheets</h1>
        <button class="w3-button  w3-xlarge nav mobile-show" onclick="w3_open()">☰</button>
    </header>

    {% include "nav" %}

    <div class="container w3-mobile">

        <div class="article-content w3-mobile">
            <section class="cheatsheet-section w3-mobile">
                <i class="language-icon {{cheatsheet.metadata.icon}}"></i>
                <h1 class="title">{{cheatsheet.metadata.title}}</h1>
                <h2>By: {{cheatsheet.metadata.author}}</h2>
                <h3> Language: {{cheatsheet.metadata.lang | capitalize}}</h3>

                <div class="article-content w3-mobile">
                    {{cheatsheet.content | safe}}
                </div>
            </section>
        </div>
    </div>
    {%
    include "footer"
    %}

</body>

</html>