<footer class="w3-bottom">
  <div class="footer-content">
    <p>&copy; 2023 MoKa Reads. All rights reserved.</p>
    <p>Powered by <a href="https://github.com/Moka-Reads">Moka-Web</a></p>
  </div>
</footer>




<script src="/assets/prism.js"></script>