<!DOCTYPE html>
<html lang="en">

{% set title = "| Guides" %}
{%include "header"%}


<body>

    <header>
        <h1 style="font-family: 'Russo One', sans-serif;">MoKa Reads How To Guides</h1>
    </header>

    {%include "nav"%}
    <div class="guides-container">

        {% for g in guides %}
        <div class="guide-card">
            <a href="/guides/{{g.repo_name}}">
                <i class="fas fa-book-open"></i>
                <h2>{{g.unslug}}</h2>
            </a>
        </div>
        
        {% endfor %}
    {%
    include "footer"
    %}

</body>

</html>