<!DOCTYPE html>
<html lang="en">

{% set title = "" %}
{%include "header"%}

<body>
    <header>
        <h1 style="font-family: 'Russo One', sans-serif;">MoKa Reads</h1>
        <button class="w3-button  w3-xlarge nav mobile-show" onclick="w3_open()">☰</button>
    </header>
    {% include "nav" %}

    <div class="search-container">
        <form action="/" method="post">
            <input type="text" placeholder="Search (Lang, Title or Resource Type)..." name="search" class="searcher"> <button type="submit"
                class="searcher-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="container w3-mobile">
        <!-- Open-Source Education Section -->
        <section class="open-source-section w3-mobile">
            <h2>Open-Source Education and Programming</h2>
            <p>
                At MoKa Reads, we are passionate about open-source education, especially in the realm of programming.
                Embracing open-source principles in programming education enables a collaborative learning environment
                where aspiring developers and seasoned coders alike can learn from, contribute to, and improve each
                other's work.
            </p>
            <p>
                By supporting open-source programming projects, we believe in empowering educators and learners to
                explore new technologies, exchange ideas, and build real-world projects together. As a result, our
                platform fosters innovation, creativity, and a strong sense of community within the programming
                education landscape.
            </p>
            <p>
                Additionally, our commitment to open-source extends to our publications. By making educational resources
                open and accessible, we aim to enrich the programming community with high-quality content while
                providing a platform for aspiring authors to share their knowledge and expertise.
            </p>
            <div class="hidden">
                <h3>Benefits of Open-Source Education in Programming:</h3>
                <ul>
                    <li>Enhanced collaboration and knowledge sharing among programmers.</li>
                    <li>Opportunities to learn from real-world, industry-standard projects.</li>
                    <li>Exposure to diverse perspectives and problem-solving approaches.</li>
                    <li>Community-driven support and feedback for continuous improvement.</li>
                    <li>Empowerment to create and publish educational content for the community.</li>
                </ul>
            </div>
        </section>

        <section class="supported-languages-section w3-mobile">
            <h2>Languages in Focus</h2>
            <div class="supported-languages-container w3-mobile">
                <div class="language-card">
                    <a href="https://kotlinlang.org/">
                        <i class="language-icon devicon-kotlin-plain"></i>
                        <div class="language-name">Kotlin</div>
                        <div class="language-description">
                            Kotlin is a modern, concise, and expressive language used for Android app development and
                            other
                            backend applications.
                        </div>
                    </a>
                </div>
                <div class="language-card">
                    <a href="https://www.rust-lang.org/">
                        <i class="language-icon devicon-rust-plain"></i>
                        <div class="language-name">Rust</div>
                        <div class="language-description">
                            Rust is a systems programming language known for its safety features, low-level control, and
                            high performance.
                        </div>
                    </a>
                </div>
                <div class="language-card">
                    <a href="https://en.cppreference.com/w/c">
                        <i class="language-icon devicon-c-plain"></i>
                        <div class="language-name">C</div>
                        <div class="language-description">
                            C is a versatile and powerful language widely used for system programming, embedded systems,
                            and
                            high-performance applications.
                        </div>
                    </a>
                </div>
                <div class="language-card">
                    <a href="https://en.cppreference.com/w/cpp">
                        <i class="language-icon devicon-cplusplus-plain"></i>
                        <div class="language-name">C++</div>
                        <div class="language-description">
                            C++ is an extension of C with additional object-oriented features, widely used for game
                            development and high-performance applications.
                        </div>
                    </a>
                </div>
                <div class="language-card">
                    <a href="https://ziglang.org/">
                        <i class="language-icon devicon-zig-original"></i>
                        <div class="language-name">Zig</div>
                        <div class="language-description">
                            Zig is a modern and easy-to-use language designed for performance, safety, and readability,
                            suitable for systems and game development.
                        </div>
                    </a>
                </div>
                <div class="language-card">
                    <a href="https://www.python.org/">
                        <i class="language-icon devicon-python-plain"></i>
                        <div class="language-name">Python</div>
                        <div class="language-description">
                            Python is a powerful, high-level programming language known for its simplicity and
                            readability.
                            It is widely used in web development, data science, automation, and more.
                        </div>
                    </a>
                </div>
                <div class="language-card">
                    <a href="https://www.swift.org/">
                        <i class="language-icon devicon-swift-plain"></i>
                        <div class="language-name">Swift</div>
                        <div class="language-description">
                            Swift is Apple's programming language used for iOS, macOS, watchOS, and tvOS app
                            development. It
                            is designed for safety, performance, and ease of use.
                        </div>
                    </a>
                </div>
                <div class="language-card">
                    <a href="https://go.dev/">
                        <i class="language-icon devicon-go-original-wordmark"></i>
                        <div class="language-name">Go</div>
                        <div class="language-description">
                            Go (or Golang) is a modern, efficient, and statically typed language developed by Google. It
                            is
                            widely used in web services and backend development.
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>


    {% include "footer" %}
</body>

</html>